
<link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
<link rel="stylesheet" href="__CSS__/jquery.ui.css">   
<link rel="stylesheet" href="__CSS__/indexBase.css">

<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/jquery.ui.js"></script>

<script type="text/javascript" src="__JS__/base.js"></script>

<block name="head">
    
</block>
<script type="text/javascript">
var ThinkPHP={
    'IMG':'__PUBLIC__/{:MODULE_NAME}/img',
    'FACE':'__PUBLIC__/{:MODULE_NAME}/face',
    'MODULE':'__MODULE__',
    'INDEX':'{:U("Index/index")}',
    'ROOT':'__ROOT__',
    'UPLOADIFY':'__UPLOADIFY__',
    'UPLOADURL':'{:U("File/upload")}',
    'FACEURL':'{:U("File/face")}',
    'IMGURL':'{:U("File/image")}',
    'SERVER_NAME':'{:$_SERVER["SERVER_NAME"]}',
};

</script>

