<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    
    <link rel="stylesheet" href="__CSS__/jquery.ui.css">   
    <link rel="stylesheet" href="__CSS__/base.css">
    <link rel="stylesheet" href="__CSS__/index.css">
    <script type="text/javascript" src="__JS__/jquery.js"></script>
    <script type="text/javascript" src="__JS__/jquery.ui.js"></script>
    <script type="text/javascript" src="__JS__/base.js"></script>
    <script type="text/javascript" src="__JS__/index.js"></script>
    <script type="text/javascript">
    var ThinkPHP={
        'IMG':'__PUBLIC__/{:MODULE_NAME}/img',
    }
   
    </script>
</head>
<body>
    
</body>
</html>